html {
    font-size: 20px;
}

#Page {
    width: 485px;
    font-family: Roboto;
    padding: 8px;
    /* border: 1px red solid; */
    font-weight: 100;
    /* margin: 8px; */
    
}

.SearchBoxDiv {
    /* content: justify; */
    display: flex;
    margin: 0 auto;
    height: 68px;
    /* border: 1px red solid; */
}

#SearchBarTop {
    background-image: url('https://www.svgrepo.com/show/7109/search.svg');
    background-position: 10px 10px;
    background-size: 9%;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 20px 20px 20px 50px;
    border-radius: 35px;
    font-family: Roboto;
    box-shadow: 5px 10px #e7e3e3;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: 10px;
    box-sizing: border-box;
    display: flex;
    flex-grow: 5;
    width: 400px;
    /* border: 1px red solid; */
      }

#HeaderFilterIcon {
    /* display: inline-flex; */
    /* width: 30%; */
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
    flex-grow: 1;
    /* border: 1px red solid; */
    
}


.subheader {
    display: flex;
    flex-direction: row;
    /* border: 1px red solid; */
    font-size: 16px;
}


.subh-menu-item {
    padding: 12px;
}



.subh-menu-text {
    text-align: center;
}





.listing-image {
    border-radius: 10%;
    width: 485px; 
    /* border: 1px red solid;  */
}




.under-listing {
    display: flex;
    flex-direction: row;
    width: 485px;
    /* border: 1px red solid; */
    justify-content: space-between;

}

.bold {
    font-weight: bold;
    font-size: 22px;
    
}


/* .place-name-listing-row {
    /* display: flex;
    flex-direction: row; */
    /* border: 1px red solid;} */
    


.subh-menu-item {
    padding: 12px;
}



.subh-menu-text {
    text-align: center;
}

.rating, .place-name-listing-row {
    /* display: flex; */
    /* flex-direction: row; */
    /* border: 1px red solid; */
    margin-bottom: 6px;
}



.host-type-listing, .dates-listing {
    font-family: Roboto;
    color: rgb(115, 113, 113);
    /* border: 1px red solid; */
    margin: 0;
}


.dates-listing {
    font-family: Roboto;
    color: rgb(115, 113, 113);
    /* border: 1px red solid; */
    
}


.price-listing {
    font-family: Roboto;
    margin-bottom: 2px;
    text-decoration: underline;
    /* border: 1px red solid;  */
}

