html {
    font-size: 16px;
}

#Page {
    width: 485px;
    font-family: Roboto;
    padding: 8px;
    border: 1px red solid;
}

.SearchBoxDiv {
    /* content: justify; */
    display: flex;
    margin: 0 auto;
    height: 68px;
    border: 1px red solid;
}

#SearchBarTop {
    background-image: url('https://www.svgrepo.com/show/7109/search.svg');
    background-position: 10px 10px;
    background-size: 9%;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 20px 20px 20px 50px;
    border-radius: 35px;
    box-shadow: 5px 10px #e7e3e3;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: 10px;
    box-sizing: border-box;
    display: flex;
    flex-grow: 5;
    width: 400px;
      }

#HeaderFilterIcon {
    /* display: inline-flex; */
    /* width: 30%; */
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
    flex-grow: 1;
    
    

}


.subheader {
    display: flex;
    flex-direction: row;
    border: 1px red solid;

}

.subh-menu-item {
    padding: 12px;
}

.subh-menu-icon {
   
} 

.subh-menu-text {
    text-align: center;
}
