.site-header-bar {
    colour: white;
    column-gap: 10px;
    display: grid;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif
    font-size: 17.5px;
    grid-template-columns: 302px 40px;
    height: 70px;
    line-break: strict;
    line-height: 25.025px;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    padding-top: 14px;
    row-gap: 10px;
    text-size-adjust: 100%;
    width: 400px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}